.item {
  font-family: "Open Sans", sans-serif;
  position: relative;
  display: inline-block;
  font-size: 12.5px;
  color: #969696;
  margin-left: 30px;
  cursor: pointer;
}

nav input[type="checkbox"] {
  display: none;
}

ul {
  display: none;
}

input:checked ~ ul {
  display: block;
}
input:checked + label {
  color: red;
}
input + label::after {
  content: " +";
  font-size: 24px;
  font-weight: bold;
}
input:checked + label::after {
  content: " -";
  color: red;
}

#more {
  display: none;
}

input:checked ~ #more {
  display: block;
}
